body {
   
    width: 90rem;
    max-width: 100%;
    background: #F2F2F2;
    margin: auto;
    text-align: center;
    font-family: 'Red Hat Display';
    
    
}

header {
    margin-top: 5rem;
    margin-bottom: 3.75rem;
    
}

main {
    display: flex;
    align-items: center;
    gap: 5.5rem;
    overflow: hidden;
}

.mainMid h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 4rem;
    color: #28283D;
   
}

.mainMid p {  
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: #87879D;
}

.btnMain {
    display: flex;
    justify-content: center;
    gap: 1rem;;
    
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    border-radius: 1.875rem;
}

.btnMain.-first {
    background: #4D96A9;
    padding: 1rem 2.5rem; 
}

.btnMain.-first span {
    color: #8FE3F9;
}

.btnMain.-second {
    background: #855FB1;
    padding: 1rem 1.8125rem;
}

.btnMain.-first:hover {
    background: #71C0D4;
}

.btnMain.-second:hover {
    background: #B18BDD;
}    

.heroLeft {
    margin-left: -2rem; 
}

.heroRight {
    margin-right: -2rem;
}

section .step {
    margin-top: 5.8rem;
    margin-bottom: 5rem;
}

section figure { 
    display: flex;
    gap: 1.875rem;
    justify-content: center;    
}
 
section figure img {
   width: 16rem; 
   border-radius: .5rem;   
}

section .text {
    display: inline-block;
    margin-top: 5rem;
    font-weight: 900;
    text-align: center;
}

section .text .text1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    line-height: 26px;
    color: #4D96A9;
    margin-bottom: 1rem;
}

section .text .title2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: #28283D;
    margin-bottom: 2rem;
}

section .text .text2 {
    color: #87879D;           
    font-weight: 500;
    font-size: 1.125rem;
    width: 33.75rem;
    margin-bottom: 4.5rem;
}



.footer {
    background: url('./assets/desktop/image-footer.jpg');
    height: 308px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;  
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #4D96A9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
}

  